{% extends "_layout.html" %}
{% block title %}About TechGrader{% endblock %}

{% block content %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">About Us
                        <small>The Geeks Responsible</small>
                    </h1>
                    <p>It took 5 brave geeks to bring the next best thing in peer evals. Tech Score! Tech Score incoporates the evaluation system students love and also instructors. It allows instructors to view all evaluations for a student and export them to a document for later grading. Below is the members of this awesome project.</p>
                </div>
            </div>
            <!-- Team Members Row -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Our Team</h2>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <div align=center><img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt=""></div>
                    <h3>Adam Thomas<br>
                        <small>Front-End Developer</small>
                    </h3>
                    <p></p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <div align=center><img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt=""></div>
                    <h3>Leah Kalush<br>
                        <small>Front-End Developer</small>
                    </h3>
                    <p></p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <div align=center><img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt=""></div>
                    <h3>Kyle McGinn<br>
                        <small>Backend Developer</small>
                    </h3>
                    <p></p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <div align=center><img class="img-circle img-responsive img-center" src="/images/alex.jpg" alt=""></div>
                    <h3>Alex Lanza<br>
                        <small>Developer</small>
                    </h3>
                    <p></p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <div align=center><img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt=""></div>
                    <h3>Abdul<br>
                        <small>Job</small>
                    </h3>
                    <p></p>
                </div>
            </div>
{% endblock %}