<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>About TechGrader</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="justified-nav.css" rel="stylesheet">
	
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>


<style>

.btn {
    color: #0081FD;
    background-color: #9BD0F5;
    border-color: #0081FD;
}

.btn:hover {
    background-color: #0081FD;
    border-color: #9BD0F5;
    color: #9BD0F5;
}

h2, span, p {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h2 {
	color: #102487;
	font-size: 20px;
}

h3 {
	color: #0081FD;
	font-size: 14px;
}

.jumbotron p {
	font-weight: normal;
	font-size: 12px;
}

.btn-group-lg>.btn, .btn-lg {
	padding: 7px 12px;
	font-size: 14px;
}

.page-header {
	border-bottom: 1px solid #9BD0F5;
}

.navbar-default {
	border: 1px solid #9BD0F5;
}

</style>
</head>
<body>
    <div class="container">
      <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" style="color: #102487;">TechGrader</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="login">Student Login</a></li>
                        <li><a href="InstructorLogin">Instructor Login</a></li>
                        <li class="active"><a href="#">About Us</a></li>
                        <li><a href="https://www.github.com/alexlanza/CS399-Final.git">GitHub</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
        <!-- Introduction Row -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">About Us
                        <small>The Geeks Responsible</small>
                    </h1>
                    <p>It took 5 brave geeks to bring the next best thing in peer evals. Tech Score! Tech Score incoporates the evaluation system students love and also instructors. It allows instructors to view all evaluations for a student and export them to a document for later grading. Below is the members of this awesome project.</p>
                </div>
            </div>
            <!-- Team Members Row -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Our Team</h2>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <div align=center><img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt=""></div>
                    <h3>Adam Thomas<br>
                        <small>Front-End Developer</small>
                    </h3>
                    <p></p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <div align=center><img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt=""></div>
                    <h3>Leah Kalush<br>
                        <small>Front-End Developer</small>
                    </h3>
                    <p></p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <div align=center><img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt=""></div>
                    <h3>Kyle McGinn<br>
                        <small>Backend Developer</small>
                    </h3>
                    <p></p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <div align=center><img class="img-circle img-responsive img-center" src="/images/alex.jpg" alt=""></div>
                    <h3>Alex Lanza<br>
                        <small>Developer</small>
                    </h3>
                    <p></p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center">
                    <div align=center><img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt=""></div>
                    <h3>Abdul<br>
                        <small>Job</small>
                    </h3>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/custom.js"></script>
</body>
</html>