<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Project</title>
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="justified-nav.css" rel="stylesheet">
	
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>


<style>

.btn {
    color: #0081FD;
    background-color: #9BD0F5;
    border-color: #0081FD;
}

.btn:hover {
    background-color: #0081FD;
    border-color: #9BD0F5;
    color: #9BD0F5;
}

h2, span, p {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h2 {
	color: #102487;
	font-size: 20px;
}

h3 {
	color: #0081FD;
	font-size: 14px;
}

.jumbotron p {
	font-weight: normal;
	font-size: 12px;
}

.btn-group-lg>.btn, .btn-lg {
	padding: 7px 12px;
	font-size: 14px;
}

.navbar-default {
	border: 1px solid #9BD0F5;
}

</style>

  </head>
<body>
    <div class="container">
      <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" style="color: #102487;">TechGrader</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="login">Student Login</a></li>
                        <li class="active"><a href="#">Instructor Login</a></li>
                        <li><a href="about">About Us</a></li>
                        <li><a href="https://www.github.com/alexlanza/CS399-Final.git">GitHub</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="span12">
                    <form class="form-horizontal" action='' method="POST">
                        <fieldset>
                            <div id="legend">
                                <legend class="" style="border-bottom: 1px solid #9BD0F5;">Create a Project</legend>
                            </div>
                            <div class="control-group">
                                <!-- Username -->
                                <label class="control-label"  for="username">Project Name</label>
                                <div class="controls">
                                    <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
                                </div>
                            </div>
                            <div class="control-group">
                                <!-- Password-->
                                <label class="control-label" for="password">Due Date</label>
                                <div class="controls">
                                    <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                                </div>
                            </div>
							<div class="control-group">
                                <!-- Password-->
                                <label class="control-label" for="password">Project Type</label>
                                <div class="controls">
								<select>
								<option value="volvo">Random</option>
								<option value="saab">Chosen</option>
								</select>
								</div>
							</div>
                            <br></br>
                            <div class="control-group">
                                <!-- Button -->
                                <div class="controls">
                                    <button class="btn btn-success">Create</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/custom.js"></script>
</body>
</html>