{% extends "_layout.html" %}
{% block title %}Instructor Dashboard{% endblock %}

{% block content %}
        <h1 style="text-align: center;">TechGrader: Instructor Dashboard</h1>

    <div align=center>
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
		Create class/Section
		</button>

    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal1">Add students to class</button>

    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">Create project</button>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#project-groups">Create Project Groups</button>
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#members-to-groups">Add members to Project Groups</button>
  </div>

    <div align="center">
            {% block body %}
            <ul>
                {% for user in users %}
                    <li>{{ user.url }} </li>
                {% endfor %}
            </ul>
            {% endblock %}
    </div>
    <br><br>

	<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Course</h4>
      </div>
      <div class="modal-body">
        {% include 'form_addcoursesection.html' %}
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Students to class</h4>
      </div>
      <div class="modal-body">
        {% include 'form_addstudentstoclass.html' %}
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create project</h4>
      </div>
      <div class="modal-body">
        {% include 'form_createproject.html' %}
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="members-to-groups" tabindex="-1" role="dialog" aria-labelledby="members-to-groups" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Students to Project</h4>
      </div>
      <div class="modal-body">
        {% include 'form_addstudentstoprojectgroup.html' %}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="project-groups" tabindex="-1" role="dialog" aria-labelledby="project-groups" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create Project Groups</h4>
      </div>
      <div class="modal-body">
        {% include 'form_creategroups.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}