{% extends "_layout.html" %}
{% block title %}Student Dashboard{% endblock %}

{% block content %}

      <!-- Jumbotron -->
        <h1 style="text-align: center;">TechGrader: Student Dashboard</h1>

        <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Hello
                        <small>NAME</small>
                    </h1>
                    <p>Here are your classes:</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".cs110">CS 110 - Introduction to Computer Science</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".cs112">CS 112 - Introduction to the Web</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".cs126">CS 126 - Computer Science I</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".cs126">CS 136 - Computer Science II</button>
                </div>
            </div>
    <br><br>

{% endblock %}