{% extends "_layout.html" %}
{% block title %}Instructor Dashboard{% endblock %}

{% block content %}
        <h1 style="text-align: center;">TechGrader</h1>

    <div align=center>
        <a class="btn btn-lg btn-success" href="course_section" role="button">Create class/Section</a><br>
		<a class="btn btn-lg btn-success" href="#" role=button">Add students to class</a>
		<a class="btn btn-lg btn-success" href="#" role="button">Create Project</a>
		<a class="btn btn-lg btn-success" href="#" role="button">Create Project Groups</a>
		<a class="btn btn-lg btn-success" href="#" role="button">Add members to Project Groups</a>
	</div>
    <br><br>

{% endblock %}