<form class="form-horizontal" action='' method="POST">
	<fieldset>
		<div class="control-group">
			<!-- Course Section -->
			<label class="control-label"  for="password">Course Section</label>
			<div class="controls">
				<input type="text" id="course_section" name="course_section" placeholder="" class="input-xlarge">
			</div>
		</div>
		<div class="control-group">
			<!-- email address-->
			<label class="control-label" for="password">Students Email</label>
			<div class="controls">
				<textarea rows="14" cols="30">
                </textarea>
			</div>
		</div>

		<br></br>
		<div class="control-group">
			<!-- Button -->
			<div class="controls">
				<button class="btn btn-success">Add students</button>
			</div>
		</div>
	</fieldset>
</form>