<form class="form-horizontal" action='' method="POST">
	<fieldset>
		<div class="control-group">
			<!-- Course Section -->
			<label class="control-label"  for="password">Project Number</label>
			<div class="controls">
				<input type="text" id="number" name="project_number" placeholder="" class="input-xlarge">
			</div>
		</div>
		<div class="control-group">
			<!-- email address-->
			<label class="control-label" for="password">Group Name</label>
			<div class="controls">
				<input type="text" id="name" name="group_name" placeholder="" class="input-xlarge">
			</div>
		</div>
		<div class="control-group">
			<!-- email address-->
			<label class="control-label" for="password">Maximum Number of Members</label>
			<div class="controls">
				<input type="text" id="max_members" name="max_number" placeholder="" class="input-xlarge">
			</div>
		</div>

		<br></br>
		<div class="control-group">
			<!-- Button -->
			<div class="controls">
				<button class="btn btn-success">Create Group</button>
			</div>
		</div>
	</fieldset>
</form>