{% extends "_splash.html" %}
{% block title %}Select Role TechGrader{% endblock %}

{% block content %}
    <div align=center>
		<h1>Welcome {{user.nickname()}}!</h1>
		<p></p>
		<form class="form-horizontal" action='' method="POST">
			<div class="control-group">
				<div class="control-group">
					<!-- Role -->
					<label class="control-label" for="text" style="color: #FFF;">Please select your user role:</label><br><br>
					<div class="controls">
					<select name = "role">
						<option value="instructor">Instructor</option>
						<option value="student">Student</option>
					</select>
					</div>
				</div>
				<br><br>
				<!-- Button -->
				<div class="controls">
					<button class="btn btn-success">Submit</button>
				</div>
			</div>
		<form>
    </div>



{% endblock %}